.detail{
    margin-top: 100px;
}
.detail-heading{
    width: 90vw;
    margin: 0 auto;
}
.detail-image{
    width: 100%;
    height: 100%;
}
.detail-image img{
    width: 100%;
    height: 100%;
}
.detail-right{
    padding-left: 20px;
}
.detail-name{
    font-size: 30px;
    font-weight: 550;

}
.prices{
    display: flex;
    flex-direction: row;
    font-size: 24px;
    font-weight: 500;
}
.detail-price{
    
    text-decoration: line-through;
}
.icon-detail{
    padding: 0 20px;
    color: lightseagreen;
}
.Qplus,.Qminus,.Qresult{
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.detail-quantity{
    display: flex;
    
}
.detail-click{
    padding-top: 30px;

}
.Qresult{
    font-size: 20px;
}
.Qplus,.Qminus{
    cursor: pointer;
}
.detail-btn{
    width: 50px;
}
.btn-add{
    height: 100%;
    width: 70%;
    background-color: coral;
    text-transform: uppercase;
}
.btn-add:hover{
    background-color: red;
    color: white;
}
.detail-desc{
    padding-top: 20px;
}
.detail h2{
    color: black;
    font-weight: 500;
    font-size: 25px;
}
@media (max-width:765px) {
    .Qplus,.Qminus,.Qresult{
        width: 20px;
        height: 100%;
    }
    
}